{% extends "base.html" %}

{% block content %}
    <div class="contact-div">
        <div class="text">
            <h2>Get in touch with our team!</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quia, sunt vitae suscipit sapiente molestiae consequatur mollitia, itaque nobis voluptatem eaque molestias reprehenderit obcaecati corrupti, sed dicta. Dolor, possimus temporibus?</p>
        </div>
        <div class="imagery"></div>
    </div>
    <div class="lines" style="display: flex; justify-content: space-evenly; margin-top: 30px;">
        <div class="" style="width: 18rem;">
            <img src="https://i.pinimg.com/originals/62/af/2d/62af2d09356db4adfbc75146cc09e067.jpg" class="card-img-top" alt="..." style="width: 5rem; height: 5rem; margin-left: 20px;">
            <div class="card-body">
                <h5 class="card-title">Talk to sales?</h5>
                <p class="card-text">Interested in our quality breeds of pet?Chat with one of our sales representative</p>
                <p style="color:blue;">Phone: +2547202281203</p>
            </div>
        </div>

        <div class="" style="width: 18rem;">
            <img src="https://i.pinimg.com/1200x/10/f8/2e/10f82eb7309e2afa0c24c7cf3d7dc4db.jpg" class="card-img-top" alt="..." style="width: 5rem; height: 5rem; margin-left: 20px; background-color: gray;">
            <div class="card-body">
                <h5 class="card-title">Customer care support</h5>
                <p class="card-text">Sometimes you need a little help from Haaland support. Don't worry...we're here for you.</p>
                <p style="color:blue;">Phone: +2547202281203</p>
            </div>
        </div>
    </div>
{% endblock %}